*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    padding-top: 44px;
} 
.container{
    max-width: 1200px;
    margin:auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px__;
}
.input{
    background-color: rgb(255, 255, 255);
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left 11px center;

}
.input-adress{
    flex: 0.8;
    background-image: url(/img/home.svg);
}
.buttons{
    display: flex;
    align-items: center;
}
.button{
    display:flex;
    align-items: center;
    padding: 8px 16px;
    background: oldlace;
    border: #d9d9d9;
    border-radius: 2px;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
}
.button-primary{
    background: #1890ff;
    border: 1px solid #1890ff;
    color: aliceblue;
    margin-right: 10px;
}
.button-icon{
    margin-right: 6px;
}
.main{
    background: linear-gradient(180deg rgba(245, 245, 245, 0) 1.04% #f5f5f5 100%);
}
.promo{
    box-sizing: 0px 7px 12px rgba(158,158,163, 0.1);
    background: #fff1b8 url(/img/promo.png) no-repeat top right 90px;
    border-radius: 10px;
    padding: 68px 70px;
    margin-top: 20px;
    margin-bottom: 56px;
}

.promo-title{
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
    color: #302C34;
}
.promo-text{
    max-width: 538px;
    font-size: 24px;
    line-height: 28px;
    color: #302C34;
}
.section-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}
.input-search{
    width: 300px;
    background-image: url(/img/Vector.svg);
} 

.section-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: black;
}
.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
} 
.card{
    background: #fff;
    box-shadow: 0px 4px 12px rgba(158,158,163, 0.1);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
}
.card-image{
   width: 384px;
   height: 250px;
   object-fit: cover;
}
.card-text  {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 23px;
    padding-right: 23px;
}
.card-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-title{
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;
} 
.card-tag{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    background: #262626;
    border-radius: 2px;
    padding: 1px 8px;
}
.card-info{
    display: flex;
    align-items: center;
    
}
.rating{
    margin-right: 26px;
    color: #ffc107;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
}
.rating-star{
    margin-right: 8px;
}
.price, .category{
    color: #8c8c8c;
    font-size: 18px;
    line-height: 32px;
}
.price{
    margin-right: 10px;
}
.price::after{
    content: "";
    width: 5px;
    height: 5px;
    background-color: #8c8c8c;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
} 

